<div class="top-scores">
  <h1> SCORES </h1>
  <% @top_scores.each do |s| %>
    <div class="top-scores-box">
      <%= s.user.username %> &thinsp; &thinsp; &thinsp; &thinsp; &thinsp; &thinsp; &thinsp;
      <%= s.user_score %>
      <br> <br>
    </div>

  <% end %>
</div>
