<div class="top-scores">
  <h2> Top Scores </h2> <br>
  <% @top_scores.each do |s| %>
    <div class="top-scores-box">
      <%= s.user.username %> &thinsp; &thinsp; &thinsp; &thinsp; &thinsp;
      <%= s.user_score %>
      <hr>
    </div>

  <% end %>
</div>
