
<%= image_tag( 'herman.png', :class => "hiddenImage" ) %>
<%= image_tag( 'phil.png', :class => "hiddenImage" ) %>
<%= image_tag( 'marcelo.png', :class => "hiddenImage" ) %>
<div id="space">
  <div class="score"><p id="score">0</p>
  </div>
</div>
