
<div class="user-welcome">
  Welcome <%= @user.username %>
</div>

<div class="play-link">
  <%= link_to "Play!", root_path %>
</div>



<div class="personal-scores">
  <h2>Personal Top Scores</h2> <br> <hr class="user-hr">
  <% @scores.each do  |z|%>
  <!-- <div class="personal-scores-score"> -->
    <%= z.user_score %>
  <!-- </div> -->
  <div class="personal-scores-date">
    <%= z.created_at.strftime("%m/%d/%Y") %>
  </div>
    <br>
  <% end %>
</div>
