// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-scores {
  margin-top: 0%;
  margin-left: 35%;
  width: 35%;
  font-size: 1.7em;
  color: black;
}
.top-scores-name {
  width: 5%;
}
.date {
  float: right;
  margin-top: -6%;
}
.top-score {
  margin-left: 40%;
  margin-top: -6%;
}
.scores-hr {
  border-color: black;
  width: 50%;
  color: black;
  font-size: 1.7em;
}
.top-scores-name {
  float: left;
  width: 10%;
}
.top-scores-score {
  margin-left: 10%;
  float: right;
}
.scores-hr {
  border-color: black;
}
.top-score {
  text-align: right;
}
.top-scores-date {
  float: right;
}
