// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form {
  margin: 20% 0 0 20%;
}
.personal-scores {
  margin-top: 20%;
  margin-left: 40%;
  width: 20%;
}
.personal-scores-box  {
  border-style: solid;
  border-width: thin;
  border-color: red;
}
