// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.signup-form {
  margin: 20% 0 0 20%;
}
.personal-scores {
  margin-top: 0%;
  margin-left: 40%;
  width: 30%;
}
.hidden-score {
  display: none;
}
.personal-scores-box  {
  font-size: 2em;
}
.user-welcome {
  margin-top: 3%;
  font-size: 3.5em;
  margin-left: 5%;
}
.play-link {
  margin-top: 35%;
  font-size: 4em;
  float: right;
  margin-right: 5%;
}
